.rist li{
    margin-bottom: 1rem;
    list-style: none;
    color: cornsilk;
    width: 100%;
}
.rist li button{
    color: rgb(255, 255, 255);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.24rem;
    outline: none; 
    float: right;
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: solid;
    border-color: #808083;    
  background-color: #ca3e26;
}

.tasuku-f{
    float: left;
    width: 86%;
    height: 20%;
    font-size:1.3rem;
    border: solid 0.2rem #6091d3;
    border-radius: 0.5rem;
    padding: 0.3rem;
    padding-left:1rem ;
}

.day-f{
    float: right;
    margin-top:0.5rem;
    width:27%;
}

.day{
color: rgb(143, 136, 136);
border: solid 2px #cdcdcd;
border-radius: 0.2rem;

}